* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("concert.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@font-face {
    font-family: headerFont;
    src: url(Norse-Bold.otf)
}

.main-container {
    display: flex;
    height: 100vh;
    justify-content: space-between  ;
}

#sign-up-header {
    color: #FAF9F6;
    font-family: headerFont;
    font-size: 4rem;
}


#img-header {
    background-color: rgba(0, 0, 0, 50%);
    min-width: 34vw;
}

#img-header img {
    width: auto;
    height: auto;
    max-width: 10rem;
    max-height: 10rem;
    padding: 10px;
}

.img-section > p {
    color: rgba(255, 255, 255, 50%);
    padding: 1rem;
    font-size: smaller;
}


.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FAF9F6;
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

input {
    max-width: 20vw;
    margin-bottom: 1rem;
    margin-left: 15px;
}

input:focus {
    box-shadow: 2px 2px 5px grey;
}

.body-text {
    font-weight: bold;
}

.inputs-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
}

.inputs-section > p {
    margin: 2rem .5rem;
    font-weight: bold;
    font-size: larger;
}

p {
    padding: .5rem;
}

label {
    margin-left: 15px;
}

button {
    background-color: #508B8B;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: .5rem 2.5rem;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
}

a {
    color: #508B8B;
    text-decoration: none;
}

button:hover {
    box-shadow: 2px 2px 5px grey;
    background-color: #055E5E;
}