body {
    background-image: url("concert.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

img {
    width: 5rem;
}

#sign-up-header {
    color: #FAF9F6;
}

.img-section {
    background-color: rgba(0, 0, 0, 50%)
}

.form-section {
    background-color: #FAF9F6;
}