body {
    background-image: url("concert.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: #FAF9F6;
}

img {
    width: 5rem;
}

#img-section {
    background-color: rgba(0, 0, 0, 50%)
}